
.smoke{ background-image: url(asset/character/smoke.png); } 

.smoke-beinghitb01{ background-position: 0 0; width: 109px; height: 54px; } 
.smoke-beinghitb02{ background-position: 0 -104px; width: 131px; height: 72px; } 
.smoke-beinghitb03{ background-position: 0 -226px; width: 129px; height: 61px; } 
.smoke-beinghitd01{ background-position: 0 -337px; width: 69px; height: 94px; } 
.smoke-beinghitd02{ background-position: 0 -481px; width: 73px; height: 91px; } 
.smoke-beinghitd03{ background-position: 0 -622px; width: 75px; height: 88px; } 
.smoke-beinghith01{ background-position: 0 -760px; width: 69px; height: 136px; } 
.smoke-beinghith02{ background-position: 0 -946px; width: 74px; height: 130px; } 
.smoke-beinghith03{ background-position: 0 -1126px; width: 79px; height: 125px; } 
.smoke-beinghitl01{ background-position: 0 -1301px; width: 69px; height: 136px; } 
.smoke-beinghitl02{ background-position: 0 -1487px; width: 67px; height: 137px; } 
.smoke-beinghitl03{ background-position: 0 -1674px; width: 74px; height: 134px; } 
.smoke-beinghitn01{ background-position: 0 -1858px; width: 59px; height: 124px; } 
.smoke-beinghitn02{ background-position: -181px 0; width: 57px; height: 105px; } 
.smoke-beinghits01{ background-position: -181px -155px; width: 69px; height: 128px; } 
.smoke-beinghits02{ background-position: -181px -333px; width: 61px; height: 138px; } 
.smoke-beinghits03{ background-position: -181px -521px; width: 58px; height: 136px; } 
.smoke-beinghits04{ background-position: -181px -707px; width: 60px; height: 134px; } 
.smoke-beinghits05{ background-position: -181px -891px; width: 63px; height: 137px; } 
.smoke-beinghits06{ background-position: -181px -1078px; width: 78px; height: 137px; } 
.smoke-beinghitt01{ background-position: -181px -1265px; width: 57px; height: 127px; } 
.smoke-beinghitt02{ background-position: -181px -1442px; width: 77px; height: 95px; } 
.smoke-beinghitt03{ background-position: -181px -1587px; width: 80px; height: 74px; } 
.smoke-beinghitt04{ background-position: -181px -1711px; width: 76px; height: 78px; } 
.smoke-block01{ background-position: -181px -1839px; width: 67px; height: 139px; } 
.smoke-block02{ background-position: -362px 0; width: 61px; height: 139px; } 
.smoke-block03{ background-position: -362px -189px; width: 61px; height: 140px; } 
.smoke-blockd01{ background-position: -362px -379px; width: 69px; height: 94px; } 
.smoke-blockd02{ background-position: -362px -523px; width: 63px; height: 96px; } 
.smoke-blockd03{ background-position: -362px -669px; width: 67px; height: 97px; } 
.smoke-bodypartsa01{ background-position: -362px -816px; width: 104px; height: 124px; } 
.smoke-bodypartsa02{ background-position: -362px -990px; width: 81px; height: 85px; } 
.smoke-bodypartsa03{ background-position: -362px -1125px; width: 73px; height: 98px; } 
.smoke-bodypartsa04{ background-position: -362px -1273px; width: 52px; height: 132px; } 
.smoke-bodypartsa05{ background-position: -362px -1455px; width: 52px; height: 140px; } 
.smoke-bodypartsa06{ background-position: -362px -1645px; width: 35px; height: 44px; } 
.smoke-bodypartsa07{ background-position: -362px -1739px; width: 44px; height: 31px; } 
.smoke-bodypartsa08{ background-position: -362px -1820px; width: 37px; height: 41px; } 
.smoke-bodypartsa09{ background-position: -362px -1911px; width: 46px; height: 25px; } 
.smoke-bodypartsa10{ background-position: -543px 0; width: 52px; height: 22px; } 
.smoke-bodypartsb01{ background-position: -543px -72px; width: 25px; height: 123px; } 
.smoke-bodypartsb02{ background-position: -543px -245px; width: 40px; height: 110px; } 
.smoke-bodypartsb03{ background-position: -543px -405px; width: 42px; height: 90px; } 
.smoke-bodypartsb04{ background-position: -543px -545px; width: 53px; height: 93px; } 
.smoke-bodypartsb05{ background-position: -543px -688px; width: 82px; height: 87px; } 
.smoke-bodypartsb06{ background-position: -543px -825px; width: 129px; height: 27px; } 
.smoke-bodypartsb07{ background-position: -543px -902px; width: 28px; height: 68px; } 
.smoke-bodypartsb08{ background-position: -543px -1020px; width: 19px; height: 24px; } 
.smoke-bodypartsb09{ background-position: -543px -1094px; width: 23px; height: 20px; } 
.smoke-bodypartsb10{ background-position: -543px -1164px; width: 23px; height: 19px; } 
.smoke-bodypartsb11{ background-position: -543px -1233px; width: 19px; height: 24px; } 
.smoke-bodypartsb12{ background-position: -543px -1307px; width: 19px; height: 23px; } 
.smoke-bodypartsb13{ background-position: -543px -1380px; width: 23px; height: 19px; } 
.smoke-bodypartsb14{ background-position: -543px -1449px; width: 22px; height: 18px; } 
.smoke-bodypartsb15{ background-position: -543px -1517px; width: 20px; height: 24px; } 
.smoke-bodypartsf01{ background-position: -543px -1591px; width: 54px; height: 134px; } 
.smoke-bodypartsf02{ background-position: -543px -1775px; width: 51px; height: 77px; } 
.smoke-bodypartsh01{ background-position: -543px -1902px; width: 63px; height: 139px; } 
.smoke-bodypartsh02{ background-position: -724px 0; width: 58px; height: 122px; } 
.smoke-bodypartsh03{ background-position: -724px -172px; width: 54px; height: 112px; } 
.smoke-bodypartsh04{ background-position: -724px -334px; width: 80px; height: 107px; } 
.smoke-bodypartsh05{ background-position: -724px -491px; width: 102px; height: 99px; } 
.smoke-bodypartsh06{ background-position: -724px -640px; width: 120px; height: 100px; } 
.smoke-bodypartsh07{ background-position: -724px -790px; width: 146px; height: 97px; } 
.smoke-bodypartsh08{ background-position: -724px -937px; width: 166px; height: 84px; } 
.smoke-bodypartsh09{ background-position: -724px -1071px; width: 172px; height: 59px; } 
.smoke-bodypartsh10{ background-position: -724px -1180px; width: 200px; height: 35px; } 
.smoke-bodypartsl01{ background-position: -724px -1265px; width: 40px; height: 139px; } 
.smoke-bodypartsl02{ background-position: -724px -1454px; width: 44px; height: 132px; } 
.smoke-bodypartsl03{ background-position: -724px -1636px; width: 59px; height: 112px; } 
.smoke-bodypartsl04{ background-position: -724px -1798px; width: 59px; height: 111px; } 
.smoke-bodypartst01{ background-position: -974px 0; width: 22px; height: 95px; } 
.smoke-bodypartst02{ background-position: -974px -145px; width: 48px; height: 78px; } 
.smoke-bodypartst03{ background-position: -974px -273px; width: 77px; height: 59px; } 
.smoke-bodypartst04{ background-position: -974px -382px; width: 50px; height: 51px; } 
.smoke-bodypartst05{ background-position: -974px -483px; width: 50px; height: 44px; } 
.smoke-bodypartst06{ background-position: -974px -577px; width: 85px; height: 41px; } 
.smoke-bodypartst07{ background-position: -974px -668px; width: 84px; height: 41px; } 
.smoke-dizzy01{ background-position: -974px -759px; width: 58px; height: 130px; } 
.smoke-dizzy02{ background-position: -974px -939px; width: 59px; height: 130px; } 
.smoke-dizzy03{ background-position: -974px -1119px; width: 60px; height: 128px; } 
.smoke-dizzy04{ background-position: -974px -1297px; width: 53px; height: 127px; } 
.smoke-dizzy05{ background-position: -974px -1474px; width: 51px; height: 131px; } 
.smoke-dizzy06{ background-position: -974px -1655px; width: 54px; height: 133px; } 
.smoke-dizzy07{ background-position: -974px -1838px; width: 54px; height: 133px; } 
.smoke-duckjumpd01{ background-position: -1224px 0; width: 68px; height: 124px; } 
.smoke-duckjumpd02{ background-position: -1224px -174px; width: 62px; height: 103px; } 
.smoke-duckjumpd03{ background-position: -1224px -327px; width: 62px; height: 80px; } 
.smoke-duckjumpdt01{ background-position: -1224px -457px; width: 66px; height: 82px; } 
.smoke-duckjumpdt02{ background-position: -1224px -589px; width: 69px; height: 82px; } 
.smoke-duckjumpf01{ background-position: -1224px -721px; width: 63px; height: 146px; } 
.smoke-duckjumpf02{ background-position: -1224px -917px; width: 57px; height: 69px; } 
.smoke-duckjumpf03{ background-position: -1224px -1036px; width: 59px; height: 55px; } 
.smoke-duckjumpf04{ background-position: -1224px -1141px; width: 67px; height: 57px; } 
.smoke-duckjumpf05{ background-position: -1224px -1248px; width: 53px; height: 59px; } 
.smoke-duckjumpf06{ background-position: -1224px -1357px; width: 56px; height: 66px; } 
.smoke-duckjumpf07{ background-position: -1224px -1473px; width: 60px; height: 56px; } 
.smoke-duckjumpf08{ background-position: -1224px -1579px; width: 65px; height: 58px; } 
.smoke-duckjumpj01{ background-position: -1224px -1687px; width: 68px; height: 100px; } 
.smoke-duckjumpj02{ background-position: -1224px -1837px; width: 75px; height: 148px; } 
.smoke-duckjumpj03{ background-position: -1474px 0; width: 77px; height: 106px; } 
.smoke-fallf01{ background-position: -1474px -156px; width: 59px; height: 126px; } 
.smoke-fallf02{ background-position: -1474px -332px; width: 100px; height: 113px; } 
.smoke-fallf03{ background-position: -1474px -495px; width: 100px; height: 69px; } 
.smoke-fallf04{ background-position: -1474px -614px; width: 82px; height: 109px; } 
.smoke-fallf05{ background-position: -1474px -773px; width: 121px; height: 75px; } 
.smoke-fallf06{ background-position: -1474px -898px; width: 131px; height: 48px; } 
.smoke-fallf07{ background-position: -1474px -996px; width: 139px; height: 41px; } 
.smoke-fallf08{ background-position: -1474px -1087px; width: 94px; height: 73px; } 
.smoke-fallf09{ background-position: -1474px -1210px; width: 68px; height: 83px; } 
.smoke-fallf10{ background-position: -1474px -1343px; width: 118px; height: 81px; } 
.smoke-fallf11{ background-position: -1474px -1474px; width: 105px; height: 70px; } 
.smoke-fallf12{ background-position: -1474px -1594px; width: 54px; height: 99px; } 
.smoke-fallf13{ background-position: -1474px -1743px; width: 52px; height: 135px; } 
.smoke-fallp01{ background-position: -1474px -1928px; width: 74px; height: 109px; } 
.smoke-fallp02{ background-position: -1724px 0; width: 70px; height: 112px; } 
.smoke-fallp03{ background-position: -1724px -162px; width: 72px; height: 115px; } 
.smoke-fallp04{ background-position: -1724px -327px; width: 76px; height: 117px; } 
.smoke-fallp05{ background-position: -1724px -494px; width: 83px; height: 110px; } 
.smoke-falls01{ background-position: -1724px -654px; width: 96px; height: 115px; } 
.smoke-falls02{ background-position: -1724px -819px; width: 103px; height: 67px; } 
.smoke-falls03{ background-position: -1724px -936px; width: 100px; height: 84px; } 
.smoke-falls04{ background-position: -1724px -1070px; width: 99px; height: 82px; } 
.smoke-falls05{ background-position: -1724px -1202px; width: 111px; height: 47px; } 
.smoke-falls06{ background-position: -1724px -1299px; width: 107px; height: 55px; } 
.smoke-falls07{ background-position: -1724px -1404px; width: 49px; height: 74px; } 
.smoke-falls08{ background-position: -1724px -1528px; width: 57px; height: 90px; } 
.smoke-falls09{ background-position: -1724px -1668px; width: 62px; height: 48px; } 
.smoke-falls10{ background-position: -1724px -1766px; width: 100px; height: 84px; } 
.smoke-falls11{ background-position: -1724px -1900px; width: 58px; height: 104px; } 
.smoke-finishersb01{ background-position: -1974px 0; width: 28px; height: 44px; } 
.smoke-finishersf101{ background-position: -1974px -94px; width: 127px; height: 132px; } 
.smoke-finishersf102{ background-position: -1974px -276px; width: 127px; height: 132px; } 
.smoke-finishersf103{ background-position: -1974px -458px; width: 127px; height: 132px; } 
.smoke-finishersf104{ background-position: -1974px -640px; width: 127px; height: 132px; } 
.smoke-finishersf105{ background-position: -1974px -822px; width: 127px; height: 132px; } 
.smoke-finishersf106{ background-position: -1974px -1004px; width: 127px; height: 132px; } 
.smoke-finishersf107{ background-position: -1974px -1186px; width: 127px; height: 132px; } 
.smoke-finishersf108{ background-position: -1974px -1368px; width: 127px; height: 132px; } 
.smoke-finishersf109{ background-position: -1974px -1550px; width: 70px; height: 133px; } 
.smoke-finishersf110{ background-position: -1974px -1733px; width: 140px; height: 136px; } 
.smoke-finishersf111{ background-position: -1974px -1919px; width: 76px; height: 141px; } 
.smoke-finishersf112{ background-position: -2224px 0; width: 69px; height: 116px; } 
.smoke-finishersf113{ background-position: -2224px -166px; width: 78px; height: 107px; } 
.smoke-finishersf114{ background-position: -2224px -323px; width: 138px; height: 99px; } 
.smoke-finishersf115{ background-position: -2224px -472px; width: 72px; height: 104px; } 
.smoke-finishersf201{ background-position: -2224px -626px; width: 75px; height: 137px; } 
.smoke-finishersf202{ background-position: -2224px -813px; width: 55px; height: 139px; } 
.smoke-finishersf203{ background-position: -2224px -1002px; width: 56px; height: 128px; } 
.smoke-finishersf204{ background-position: -2224px -1180px; width: 56px; height: 138px; } 
.smoke-finishersf205{ background-position: -2224px -1368px; width: 54px; height: 149px; } 
.smoke-finishersf206{ background-position: -2224px -1567px; width: 72px; height: 139px; } 
.smoke-finishersf207{ background-position: -2224px -1756px; width: 57px; height: 141px; } 
.smoke-finishersf208{ background-position: -2224px -1947px; width: 56px; height: 136px; } 
.smoke-finishersf209{ background-position: -2474px 0; width: 62px; height: 126px; } 
.smoke-finishersf301{ background-position: -2474px -176px; width: 91px; height: 137px; } 
.smoke-finishersf302{ background-position: -2474px -363px; width: 84px; height: 127px; } 
.smoke-finishersf303{ background-position: -2474px -540px; width: 72px; height: 129px; } 
.smoke-finishersf304{ background-position: -2474px -719px; width: 75px; height: 131px; } 
.smoke-finishersf305{ background-position: -2474px -900px; width: 126px; height: 121px; } 
.smoke-finishersf401{ background-position: -2474px -1071px; width: 56px; height: 138px; } 
.smoke-finishersf402{ background-position: -2474px -1259px; width: 54px; height: 149px; } 
.smoke-finishersf403{ background-position: -2474px -1458px; width: 72px; height: 138px; } 
.smoke-finishersf404{ background-position: -2474px -1646px; width: 57px; height: 139px; } 
.smoke-finishersf405{ background-position: -2474px -1835px; width: 56px; height: 135px; } 
.smoke-finishersf406{ background-position: -2724px 0; width: 62px; height: 127px; } 
.smoke-finishersf407{ background-position: -2724px -177px; width: 62px; height: 128px; } 
.smoke-finishersf408{ background-position: -2724px -355px; width: 62px; height: 128px; } 
.smoke-finishersf409{ background-position: -2724px -533px; width: 62px; height: 135px; } 
.smoke-finishersf410{ background-position: -2724px -718px; width: 76px; height: 135px; } 
.smoke-finishersf411{ background-position: -2724px -903px; width: 84px; height: 135px; } 
.smoke-finishersf412{ background-position: -2724px -1088px; width: 92px; height: 135px; } 
.smoke-finishersf413{ background-position: -2724px -1273px; width: 105px; height: 135px; } 
.smoke-finishersf414{ background-position: -2724px -1458px; width: 128px; height: 135px; } 
.smoke-finishersf415{ background-position: -2724px -1643px; width: 150px; height: 135px; } 
.smoke-finishersf416{ background-position: -2724px -1828px; width: 167px; height: 135px; } 
.smoke-finishersf417{ background-position: -2974px 0; width: 187px; height: 135px; } 
.smoke-finishersf418{ background-position: -2974px -185px; width: 212px; height: 135px; } 
.smoke-finishersf419{ background-position: -2974px -370px; width: 235px; height: 135px; } 
.smoke-finishersf420{ background-position: -2974px -555px; width: 242px; height: 135px; } 
.smoke-finishersf421{ background-position: -2974px -740px; width: 62px; height: 137px; } 
.smoke-finishersf422{ background-position: -2974px -927px; width: 62px; height: 135px; } 
.smoke-finishersf423{ background-position: -2974px -1112px; width: 62px; height: 129px; } 
.smoke-finishersf424{ background-position: -2974px -1291px; width: 57px; height: 138px; } 
.smoke-finishersf425{ background-position: -2974px -1479px; width: 57px; height: 138px; } 
.smoke-finishersf426{ background-position: -2974px -1667px; width: 58px; height: 138px; } 
.smoke-finishersf427{ background-position: -2974px -1855px; width: 57px; height: 138px; } 
.smoke-finishersf428{ background-position: -3266px 0; width: 56px; height: 136px; } 
.smoke-finishersfr01{ background-position: -3266px -186px; width: 61px; height: 131px; } 
.smoke-finishersfr02{ background-position: -3266px -367px; width: 72px; height: 138px; } 
.smoke-finishersfr03{ background-position: -3266px -555px; width: 92px; height: 139px; } 
.smoke-finishersfr04{ background-position: -3266px -744px; width: 74px; height: 144px; } 
.smoke-kick01{ background-position: -3266px -938px; width: 62px; height: 141px; } 
.smoke-kick02{ background-position: -3266px -1129px; width: 66px; height: 142px; } 
.smoke-kick03{ background-position: -3266px -1321px; width: 72px; height: 138px; } 
.smoke-kick04{ background-position: -3266px -1509px; width: 63px; height: 125px; } 
.smoke-kick05{ background-position: -3266px -1684px; width: 94px; height: 115px; } 
.smoke-kick06{ background-position: -3266px -1849px; width: 125px; height: 122px; } 
.smoke-kick07{ background-position: -3558px 0; width: 119px; height: 125px; } 
.smoke-kicka01{ background-position: -3558px -175px; width: 73px; height: 114px; } 
.smoke-kicka02{ background-position: -3558px -339px; width: 105px; height: 115px; } 
.smoke-kicka03{ background-position: -3558px -504px; width: 68px; height: 90px; } 
.smoke-kicka04{ background-position: -3558px -644px; width: 94px; height: 91px; } 
.smoke-kicka05{ background-position: -3558px -785px; width: 129px; height: 96px; } 
.smoke-kickc01{ background-position: -3558px -931px; width: 64px; height: 138px; } 
.smoke-kickc02{ background-position: -3558px -1119px; width: 55px; height: 137px; } 
.smoke-kickc03{ background-position: -3558px -1306px; width: 80px; height: 131px; } 
.smoke-kickd01{ background-position: -3558px -1487px; width: 67px; height: 71px; } 
.smoke-kickd02{ background-position: -3558px -1608px; width: 64px; height: 74px; } 
.smoke-kickd03{ background-position: -3558px -1732px; width: 82px; height: 75px; } 
.smoke-kickd04{ background-position: -3558px -1857px; width: 99px; height: 73px; } 
.smoke-kickd05{ background-position: -3850px 0; width: 114px; height: 63px; } 
.smoke-kickd06{ background-position: -3850px -113px; width: 103px; height: 69px; } 
.smoke-kickd07{ background-position: -3850px -232px; width: 111px; height: 101px; } 
.smoke-kickr01{ background-position: -3850px -383px; width: 81px; height: 131px; } 
.smoke-kickr02{ background-position: -3850px -564px; width: 52px; height: 125px; } 
.smoke-kickr03{ background-position: -3850px -739px; width: 69px; height: 114px; } 
.smoke-kickr04{ background-position: -3850px -903px; width: 95px; height: 111px; } 
.smoke-kickr05{ background-position: -3850px -1064px; width: 109px; height: 127px; } 
.smoke-kickr06{ background-position: -3850px -1241px; width: 89px; height: 116px; } 
.smoke-kickr07{ background-position: -3850px -1407px; width: 62px; height: 128px; } 
.smoke-kickr08{ background-position: -3850px -1585px; width: 56px; height: 136px; } 
.smoke-kicks01{ background-position: -3850px -1771px; width: 94px; height: 101px; } 
.smoke-kicks02{ background-position: -3850px -1922px; width: 71px; height: 60px; } 
.smoke-kicks03{ background-position: -4142px 0; width: 65px; height: 58px; } 
.smoke-kicks04{ background-position: -4142px -108px; width: 88px; height: 58px; } 
.smoke-kicks05{ background-position: -4142px -216px; width: 129px; height: 68px; } 
.smoke-kicks06{ background-position: -4142px -334px; width: 73px; height: 90px; } 
.smoke-kicks07{ background-position: -4142px -474px; width: 98px; height: 101px; } 
.smoke-more01{ background-position: -4142px -625px; width: 32px; height: 111px; } 
.smoke-punch01{ background-position: -4142px -786px; width: 58px; height: 139px; } 
.smoke-punch02{ background-position: -4142px -975px; width: 69px; height: 141px; } 
.smoke-punch03{ background-position: -4142px -1166px; width: 103px; height: 139px; } 
.smoke-punch04{ background-position: -4142px -1355px; width: 64px; height: 141px; } 
.smoke-punch05{ background-position: -4142px -1546px; width: 81px; height: 143px; } 
.smoke-punch06{ background-position: -4142px -1739px; width: 93px; height: 142px; } 
.smoke-punch07{ background-position: -4142px -1931px; width: 58px; height: 139px; } 
.smoke-punch08{ background-position: -4434px 0; width: 80px; height: 140px; } 
.smoke-punch09{ background-position: -4434px -190px; width: 102px; height: 139px; } 
.smoke-punch10{ background-position: -4434px -379px; width: 80px; height: 140px; } 
.smoke-punch11{ background-position: -4434px -569px; width: 98px; height: 139px; } 
.smoke-punch12{ background-position: -4434px -758px; width: 79px; height: 140px; } 
.smoke-puncha01{ background-position: -4434px -948px; width: 66px; height: 87px; } 
.smoke-puncha02{ background-position: -4434px -1085px; width: 101px; height: 87px; } 
.smoke-puncha03{ background-position: -4434px -1222px; width: 148px; height: 88px; } 
.smoke-punchc01{ background-position: -4434px -1360px; width: 59px; height: 130px; } 
.smoke-punchc02{ background-position: -4434px -1540px; width: 69px; height: 137px; } 
.smoke-punchc03{ background-position: -4434px -1727px; width: 73px; height: 143px; } 
.smoke-punchc04{ background-position: -4434px -1920px; width: 59px; height: 139px; } 
.smoke-punchd01{ background-position: -4726px 0; width: 72px; height: 91px; } 
.smoke-punchd02{ background-position: -4726px -141px; width: 83px; height: 97px; } 
.smoke-punchd03{ background-position: -4726px -288px; width: 101px; height: 97px; } 
.smoke-punchu01{ background-position: -4726px -435px; width: 59px; height: 100px; } 
.smoke-punchu02{ background-position: -4726px -585px; width: 71px; height: 118px; } 
.smoke-punchu03{ background-position: -4726px -753px; width: 117px; height: 136px; } 
.smoke-punchu04{ background-position: -4726px -939px; width: 87px; height: 164px; } 
.smoke-punchu05{ background-position: -4726px -1153px; width: 58px; height: 156px; } 
.smoke-special101{ background-position: -4726px -1359px; width: 86px; height: 134px; } 
.smoke-special102{ background-position: -4726px -1543px; width: 90px; height: 133px; } 
.smoke-special103{ background-position: -4726px -1726px; width: 96px; height: 133px; } 
.smoke-special104{ background-position: -4726px -1909px; width: 124px; height: 131px; } 
.smoke-special105{ background-position: -5018px 0; width: 100px; height: 128px; } 
.smoke-special106{ background-position: -5018px -178px; width: 70px; height: 137px; } 
.smoke-special107{ background-position: -5018px -365px; width: 79px; height: 133px; } 
.smoke-speciala101{ background-position: -5018px -548px; width: 86px; height: 80px; } 
.smoke-speciala102{ background-position: -5018px -678px; width: 98px; height: 86px; } 
.smoke-speciala103{ background-position: -5018px -814px; width: 111px; height: 136px; } 
.smoke-speciala104{ background-position: -5018px -1000px; width: 116px; height: 102px; } 
.smoke-speciala105{ background-position: -5018px -1152px; width: 117px; height: 61px; } 
.smoke-speciala106{ background-position: -5018px -1263px; width: 112px; height: 49px; } 
.smoke-speciala201{ background-position: -5018px -1362px; width: 68px; height: 133px; } 
.smoke-speciala202{ background-position: -5018px -1545px; width: 63px; height: 129px; } 
.smoke-speciala203{ background-position: -5018px -1724px; width: 84px; height: 121px; } 
.smoke-speciala204{ background-position: -5018px -1895px; width: 87px; height: 112px; } 
.smoke-speciala301{ background-position: -5310px 0; width: 71px; height: 136px; } 
.smoke-speciala302{ background-position: -5310px -186px; width: 58px; height: 132px; } 
.smoke-speciala303{ background-position: -5310px -368px; width: 62px; height: 130px; } 
.smoke-speciala401{ background-position: -5310px -548px; width: 96px; height: 127px; } 
.smoke-speciala402{ background-position: -5310px -725px; width: 97px; height: 110px; } 
.smoke-speciala403{ background-position: -5310px -885px; width: 98px; height: 87px; } 
.smoke-speciala501{ background-position: -5310px -1022px; width: 69px; height: 140px; } 
.smoke-speciala502{ background-position: -5310px -1212px; width: 66px; height: 138px; } 
.smoke-speciala503{ background-position: -5310px -1400px; width: 74px; height: 129px; } 
.smoke-speciala601{ background-position: -5310px -1579px; width: 82px; height: 132px; } 
.smoke-speciala602{ background-position: -5310px -1761px; width: 96px; height: 123px; } 
.smoke-speciala603{ background-position: -5310px -1934px; width: 95px; height: 115px; } 
.smoke-speciala604{ background-position: -5602px 0; width: 96px; height: 122px; } 
.smoke-speciala605{ background-position: -5602px -172px; width: 91px; height: 130px; } 
.smoke-speciala701{ background-position: -5602px -352px; width: 60px; height: 130px; } 
.smoke-speciala702{ background-position: -5602px -532px; width: 57px; height: 117px; } 
.smoke-stance01{ background-position: -5602px -699px; width: 65px; height: 133px; } 
.smoke-stance02{ background-position: -5602px -882px; width: 62px; height: 134px; } 
.smoke-stance03{ background-position: -5602px -1066px; width: 62px; height: 133px; } 
.smoke-stance04{ background-position: -5602px -1249px; width: 65px; height: 131px; } 
.smoke-stance05{ background-position: -5602px -1430px; width: 69px; height: 129px; } 
.smoke-stance06{ background-position: -5602px -1609px; width: 72px; height: 130px; } 
.smoke-stance07{ background-position: -5602px -1789px; width: 70px; height: 132px; } 
.smoke-stancea01{ background-position: -5894px 0; width: 59px; height: 133px; } 
.smoke-stancea02{ background-position: -5894px -183px; width: 60px; height: 134px; } 
.smoke-stancea03{ background-position: -5894px -367px; width: 61px; height: 135px; } 
.smoke-stancea04{ background-position: -5894px -552px; width: 63px; height: 135px; } 
.smoke-stancea05{ background-position: -5894px -737px; width: 64px; height: 134px; } 
.smoke-stancea06{ background-position: -5894px -921px; width: 64px; height: 134px; } 
.smoke-stancea07{ background-position: -5894px -1105px; width: 65px; height: 133px; } 
.smoke-stanceb01{ background-position: -5894px -1288px; width: 71px; height: 138px; } 
.smoke-stanceb02{ background-position: -5894px -1476px; width: 70px; height: 137px; } 
.smoke-stanceb03{ background-position: -5894px -1663px; width: 71px; height: 136px; } 
.smoke-stanceb04{ background-position: -5894px -1849px; width: 73px; height: 134px; } 
.smoke-stanceb05{ background-position: -6186px 0; width: 72px; height: 135px; } 
.smoke-stanceb06{ background-position: -6186px -185px; width: 70px; height: 136px; } 
.smoke-stanceb07{ background-position: -6186px -371px; width: 72px; height: 138px; } 
.smoke-stancet01{ background-position: -6186px -559px; width: 68px; height: 134px; } 
.smoke-stancet02{ background-position: -6186px -743px; width: 62px; height: 136px; } 
.smoke-throw01{ background-position: -6186px -929px; width: 78px; height: 127px; } 
.smoke-throw02{ background-position: -6186px -1106px; width: 83px; height: 99px; } 
.smoke-throw03{ background-position: -6186px -1255px; width: 76px; height: 62px; } 
.smoke-throw04{ background-position: -6186px -1367px; width: 82px; height: 83px; } 
.smoke-throw05{ background-position: -6186px -1500px; width: 83px; height: 81px; } 
.smoke-throw06{ background-position: -6186px -1631px; width: 83px; height: 84px; } 
.smoke-victory01{ background-position: -6186px -1765px; width: 56px; height: 139px; } 
.smoke-victory02{ background-position: -6478px 0; width: 58px; height: 152px; } 
.smoke-victory03{ background-position: -6478px -202px; width: 56px; height: 167px; } 
.smoke-victorya01{ background-position: -6478px -419px; width: 60px; height: 139px; } 
.smoke-victorya02{ background-position: -6478px -608px; width: 65px; height: 137px; } 
.smoke-victorya03{ background-position: -6478px -795px; width: 61px; height: 160px; } 
.smoke-victorya04{ background-position: -6478px -1005px; width: 55px; height: 165px; } 
.smoke-victoryb01{ background-position: -6478px -1220px; width: 100px; height: 139px; } 
.smoke-victoryb02{ background-position: -6478px -1409px; width: 74px; height: 139px; } 
.smoke-victoryb03{ background-position: -6478px -1598px; width: 67px; height: 139px; } 
.smoke-walk01{ background-position: -6478px -1787px; width: 81px; height: 137px; } 
.smoke-walk02{ background-position: -6770px 0; width: 70px; height: 138px; } 
.smoke-walk03{ background-position: -6770px -188px; width: 70px; height: 140px; } 
.smoke-walk04{ background-position: -6770px -378px; width: 70px; height: 135px; } 
.smoke-walk05{ background-position: -6770px -563px; width: 70px; height: 135px; } 
.smoke-walk06{ background-position: -6770px -748px; width: 72px; height: 135px; } 
.smoke-walk07{ background-position: -6770px -933px; width: 70px; height: 137px; } 
.smoke-walk08{ background-position: -6770px -1120px; width: 70px; height: 138px; } 
.smoke-walk09{ background-position: -6770px -1308px; width: 72px; height: 137px; } 
.smoke-walka01{ background-position: -6770px -1495px; width: 60px; height: 140px; } 
.smoke-walka02{ background-position: -6770px -1685px; width: 51px; height: 140px; } 
.smoke-walka03{ background-position: -6770px -1875px; width: 51px; height: 143px; } 
.smoke-walka04{ background-position: -7062px 0; width: 56px; height: 139px; } 
.smoke-walka05{ background-position: -7062px -189px; width: 58px; height: 138px; } 
.smoke-walka06{ background-position: -7062px -377px; width: 52px; height: 138px; } 
.smoke-walka07{ background-position: -7062px -565px; width: 51px; height: 140px; } 
.smoke-walka08{ background-position: -7062px -755px; width: 56px; height: 141px; } 
.smoke-walka09{ background-position: -7062px -946px; width: 73px; height: 139px; } 
.smoke-walkb01{ background-position: -7062px -1135px; width: 67px; height: 142px; } 
.smoke-walkb02{ background-position: -7062px -1327px; width: 67px; height: 143px; } 
.smoke-walkb03{ background-position: -7062px -1520px; width: 67px; height: 146px; } 
.smoke-walkb04{ background-position: -7062px -1716px; width: 67px; height: 141px; } 
.smoke-walkb05{ background-position: -7062px -1907px; width: 67px; height: 139px; } 
.smoke-walkb06{ background-position: -7354px 0; width: 67px; height: 140px; } 
.smoke-walkb07{ background-position: -7354px -190px; width: 67px; height: 142px; } 
.smoke-walkb08{ background-position: -7354px -382px; width: 67px; height: 142px; } 
.smoke-walkb09{ background-position: -7354px -574px; width: 82px; height: 141px; } 
