.subzero-walk01{ background-position: 0 0; width: 60px; height: 140px; } 
.subzero-walk02{ background-position: 0 -190px; width: 51px; height: 140px; } 
.subzero-walk03{ background-position: 0 -380px; width: 51px; height: 143px; } 
.subzero-walk04{ background-position: 0 -573px; width: 56px; height: 139px; } 
.subzero-walk05{ background-position: 0 -762px; width: 58px; height: 138px; } 
.subzero-walk06{ background-position: 0 -950px; width: 52px; height: 138px; } 
.subzero-walk07{ background-position: 0 -1138px; width: 51px; height: 140px; } 
.subzero-walk08{ background-position: 0 -1328px; width: 56px; height: 141px; } 
.subzero-walk09{ background-position: 0 -1519px; width: 73px; height: 139px; } 
.subzero-walka01{ background-position: 0 -1708px; width: 67px; height: 142px; } 
.subzero-walka02{ background-position: 0 -1900px; width: 67px; height: 143px; } 
.subzero-walka03{ background-position: -123px 0; width: 67px; height: 145px; } 
.subzero-walka04{ background-position: -123px -195px; width: 67px; height: 141px; } 
.subzero-walka05{ background-position: -123px -386px; width: 67px; height: 139px; } 
.subzero-walka06{ background-position: -123px -575px; width: 67px; height: 140px; } 
.subzero-walka07{ background-position: -123px -765px; width: 67px; height: 142px; } 
.subzero-walka08{ background-position: -123px -957px; width: 67px; height: 142px; } 
.subzero-walka09{ background-position: -123px -1149px; width: 82px; height: 141px; } 
.subzero-walkb01{ background-position: -123px -1340px; width: 81px; height: 137px; } 
.subzero-walkb02{ background-position: -123px -1527px; width: 70px; height: 138px; } 
.subzero-walkb03{ background-position: -123px -1715px; width: 70px; height: 140px; } 
.subzero-walkb04{ background-position: -123px -1905px; width: 70px; height: 135px; } 
.subzero-walkb05{ background-position: -255px 0; width: 70px; height: 135px; } 
.subzero-walkb06{ background-position: -255px -185px; width: 72px; height: 135px; } 
.subzero-walkb07{ background-position: -255px -370px; width: 70px; height: 137px; } 
.subzero-walkb08{ background-position: -255px -557px; width: 70px; height: 138px; } 
.subzero-walkb09{ background-position: -255px -745px; width: 72px; height: 137px; } 
