.subzero-stance01{ background-position: 0 0; width: 59px; height: 133px; } 
.subzero-stance02{ background-position: 0 -183px; width: 60px; height: 134px; } 
.subzero-stance03{ background-position: 0 -367px; width: 61px; height: 135px; } 
.subzero-stance04{ background-position: 0 -552px; width: 63px; height: 135px; } 
.subzero-stance05{ background-position: 0 -737px; width: 64px; height: 134px; } 
.subzero-stance06{ background-position: 0 -921px; width: 64px; height: 134px; } 
.subzero-stance07{ background-position: 0 -1105px; width: 65px; height: 133px; } 
.subzero-stancea01{ background-position: 0 -1288px; width: 71px; height: 138px; } 
.subzero-stancea02{ background-position: 0 -1476px; width: 70px; height: 137px; } 
.subzero-stancea03{ background-position: 0 -1663px; width: 71px; height: 136px; } 
.subzero-stancea04{ background-position: 0 -1849px; width: 73px; height: 134px; } 
.subzero-stancea05{ background-position: -123px 0; width: 72px; height: 135px; } 
.subzero-stancea06{ background-position: -123px -185px; width: 70px; height: 136px; } 
.subzero-stancea07{ background-position: -123px -371px; width: 72px; height: 138px; } 
.subzero-stanceb01{ background-position: -123px -559px; width: 65px; height: 133px; } 
.subzero-stanceb02{ background-position: -123px -742px; width: 62px; height: 134px; } 
.subzero-stanceb03{ background-position: -123px -926px; width: 62px; height: 133px; } 
.subzero-stanceb04{ background-position: -123px -1109px; width: 65px; height: 131px; } 
.subzero-stanceb05{ background-position: -123px -1290px; width: 69px; height: 129px; } 
.subzero-stanceb06{ background-position: -123px -1469px; width: 72px; height: 130px; } 
.subzero-stanceb07{ background-position: -123px -1649px; width: 70px; height: 132px; } 
.subzero-stanceb08{ background-position: -123px -1831px; width: 65px; height: 133px; } 
.subzero-stancet01{ background-position: -246px 0; width: 68px; height: 134px; } 
.subzero-stancet02{ background-position: -246px -184px; width: 62px; height: 136px; } 

