.subzero-kick01{ background-position: 0 0; width: 62px; height: 141px; } 
.subzero-kick02{ background-position: 0 -191px; width: 66px; height: 142px; } 
.subzero-kick03{ background-position: 0 -383px; width: 72px; height: 138px; } 
.subzero-kick04{ background-position: 0 -571px; width: 63px; height: 125px; } 
.subzero-kick05{ background-position: 0 -746px; width: 94px; height: 115px; } 
.subzero-kick06{ background-position: 0 -911px; width: 125px; height: 122px; } 
.subzero-kick07{ background-position: 0 -1083px; width: 119px; height: 125px; } 
.subzero-kicka01{ background-position: 0 -1258px; width: 73px; height: 114px; } 
.subzero-kicka02{ background-position: 0 -1422px; width: 105px; height: 115px; } 
.subzero-kicka03{ background-position: 0 -1587px; width: 68px; height: 90px; } 
.subzero-kicka04{ background-position: 0 -1727px; width: 94px; height: 91px; } 
.subzero-kicka05{ background-position: 0 -1868px; width: 129px; height: 96px; } 
.subzero-kickc01{ background-position: -179px 0; width: 64px; height: 138px; } 
.subzero-kickc02{ background-position: -179px -188px; width: 55px; height: 137px; } 
.subzero-kickc03{ background-position: -179px -375px; width: 80px; height: 131px; } 
.subzero-kickd01{ background-position: -179px -556px; width: 67px; height: 71px; } 
.subzero-kickd02{ background-position: -179px -677px; width: 64px; height: 74px; } 
.subzero-kickd03{ background-position: -179px -801px; width: 82px; height: 75px; } 
.subzero-kickd04{ background-position: -179px -926px; width: 99px; height: 73px; } 
.subzero-kickd05{ background-position: -179px -1049px; width: 114px; height: 63px; } 
.subzero-kickd06{ background-position: -179px -1162px; width: 103px; height: 69px; } 
.subzero-kickd07{ background-position: -179px -1281px; width: 111px; height: 101px; } 
.subzero-kickr01{ background-position: -179px -1432px; width: 81px; height: 131px; } 
.subzero-kickr02{ background-position: -179px -1613px; width: 52px; height: 125px; } 
.subzero-kickr03{ background-position: -179px -1788px; width: 69px; height: 114px; } 
.subzero-kickr04{ background-position: -358px 0; width: 95px; height: 111px; } 
.subzero-kickr05{ background-position: -358px -161px; width: 109px; height: 127px; } 
.subzero-kickr06{ background-position: -358px -338px; width: 89px; height: 116px; } 
.subzero-kickr07{ background-position: -358px -504px; width: 62px; height: 128px; } 
.subzero-kickr08{ background-position: -358px -682px; width: 56px; height: 136px; } 
.subzero-kicks01{ background-position: -358px -868px; width: 71px; height: 60px; } 
.subzero-kicks02{ background-position: -358px -978px; width: 65px; height: 58px; } 
.subzero-kicks03{ background-position: -358px -1086px; width: 88px; height: 58px; } 
.subzero-kicks04{ background-position: -358px -1194px; width: 129px; height: 68px; } 
.subzero-kicks05{ background-position: -358px -1312px; width: 73px; height: 90px; } 
.subzero-kicks06{ background-position: -358px -1452px; width: 98px; height: 101px; } 
