.subzero-punch01{ background-position: 0 0; width: 58px; height: 139px; } 
.subzero-punch02{ background-position: 0 -189px; width: 69px; height: 141px; } 
.subzero-punch03{ background-position: 0 -380px; width: 103px; height: 139px; } 
.subzero-punch04{ background-position: 0 -569px; width: 64px; height: 141px; } 
.subzero-punch05{ background-position: 0 -760px; width: 81px; height: 143px; } 
.subzero-punch06{ background-position: 0 -953px; width: 93px; height: 142px; } 
.subzero-punch07{ background-position: 0 -1145px; width: 79px; height: 140px; } 
.subzero-punch08{ background-position: 0 -1335px; width: 80px; height: 140px; } 
.subzero-punch09{ background-position: 0 -1525px; width: 102px; height: 139px; } 
.subzero-punch10{ background-position: 0 -1714px; width: 80px; height: 140px; } 
.subzero-punch11{ background-position: 0 -1904px; width: 98px; height: 139px; } 
.subzero-puncha01{ background-position: -153px 0; width: 66px; height: 87px; } 
.subzero-puncha02{ background-position: -153px -137px; width: 101px; height: 87px; } 
.subzero-puncha03{ background-position: -153px -274px; width: 148px; height: 88px; } 
.subzero-punchc01{ background-position: -153px -412px; width: 59px; height: 130px; } 
.subzero-punchc02{ background-position: -153px -592px; width: 69px; height: 137px; } 
.subzero-punchc03{ background-position: -153px -779px; width: 73px; height: 143px; } 
.subzero-punchc04{ background-position: -153px -972px; width: 59px; height: 139px; } 
.subzero-punchd01{ background-position: -153px -1161px; width: 72px; height: 91px; } 
.subzero-punchd02{ background-position: -153px -1302px; width: 83px; height: 97px; } 
.subzero-punchd03{ background-position: -153px -1449px; width: 101px; height: 97px; } 
.subzero-punchu01{ background-position: -153px -1596px; width: 59px; height: 100px; } 
.subzero-punchu02{ background-position: -153px -1746px; width: 71px; height: 118px; } 
.subzero-punchu03{ background-position: -153px -1914px; width: 117px; height: 136px; } 
.subzero-punchu04{ background-position: -351px 0; width: 87px; height: 164px; } 
.subzero-punchu05{ background-position: -351px -214px; width: 58px; height: 156px; } 
